@model ConsidTest.LibraryItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LibraryItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunTimeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunTimeMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBorrowable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBorrowable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Borrower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borrower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
